body{
	margin: 0;
}

.page {
	margin: auto;
	position: relative;
	display: block;
}

.page img {
	width: 100%;
}

.hotspot {
	position: absolute;
	display: block;
	text-indent: -9999px;
}

.shop {
 	top: 23%;
	left: 2%;
	width: 20%;
	height: 5%;
}

.filter {
	top: 30%;
	left: 2%;
	width: 12%;
	height: 18%;
}

.quick {
	top: 40%;
	left: 40%;
	width: 14%;
	height: 4%;
}

.specs {
	top: 68%;
	left: 15%;
	width: 11%;
	height: 3%;
}

.reviews {
	top: 55%;
	left: 35%;
	width: 10%;
	height: 3%;
}

.description {
	top: 55%;
	left: 5%;
	width: 10%;
	height: 3%;
}

/*a{
	color: blue;
}*/

body:hover: 
